mixin video(video)
        div.videoComponent 
            video.homeVideos(src="/" + video.fileUrl, controls, width="400")
            br 
            a.videoTitle(href=`/videos/${video.id}`)=video.title
            br
            div.subMetaInfo 
                span.views=`${video.meta.views} views`
                span.createdAt=`${video.createdAt}`.substring(0, 11)
                
        