// config

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import "./config/_variables";
@import "./config/reset";
@import "./screens/home.scss";
@import "./screens/login.scss";
@import "./screens/profile.scss";
@import "./screens/uploadvideo.scss";
// Components

// Screen
@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}

body {
  background-color: black;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  width: 100%;
  margin: 0;
  z-index: 0;
}

li {
  list-style: none;
  margin: none;
  padding: none;
}

a {
  text-decoration: none;
  margin: none;
  padding: none;
  color: whitesmoke;
  &:hover {
    color: #FF080D
  }
}

footer {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

#titleBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

#titleImg {
  position:relative;
  z-index: 2;
}

#mainNav {
  width: 100%;
  
 ul {
    display: flex;

  li{
    cursor: pointer;
    font-family: "Black Han Sans", sans-serif;
    color: transparent;
    font-size: 25px;
    font-weight: 500;
    padding-left: 15px;
    letter-spacing: 2px;
  }
 }
}

