#profileBox {
    margin:  100px auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: #643A6B;
    border-radius: 20px;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#profileTitle {
    font-family: "Black Han Sans", sans-serif;
    font-size: 40px;
}

#videoInfo {
    font-family: 'Roboto', sans-serif;
    height: 50%;
    width: 80%;
    font-size: 20px;
}

#videoInfo > h1 {
    margin-bottom: 15px;
}

#videoInfo > a {
    font-size: 15px;
    padding-left: 10px;
}
