doctype html
html(lang='ko')

    head 
        title 진짜 힘들어요^^;
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css") 

    body 
        block content

    include ./partials/footer.pug