include mixins/message

doctype html
html(lang='ko')

    head 
        title #{pageTitle}
        link(rel="stylesheet", href="/static/css/styles.css")

    body 
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("success", messages.success)
        header
            div#titleBox
                img#titleImg(src="src\client\img\psickmain2.png")
                
            nav#mainNav
                ul 
                    li
                        a.left(href="/")  Home |
                    li
                        a(href="/search") Search |
                    
                    if loggedIn 
                        li
                            a(href="/videos/upload") Upload Video |
                        li
                            a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}의 Profile |
                        li
                            a(href="/users/logout") Log Out 
                        li
                            a(href=`/users/${loggedInUser._id}`)
                    else 
                        li 
                            a(href="/join") Join |
                        li 
                            a(href="/login") Login
        
        main 
            block content
        include ./partials/footer
    script(src="/static/js/main.js") 
 
    block script
        
       