extend base.pug

block content
    div#loginForm         
        if errorMessage 
            span=errorMessage
        span#loginTitle Login
        form(method="POST")
            input(placeholder="Username", name="username", type="text", required)
            br
            input(placeholder="Password", name="password", type="password", required)
            br
            input(type="submit", value="Log in")
            br
            
        div#loginInfo
            a(href="/users/github/start") Github Login &rarr;
            a(href="/join") Join now &rarr; 
        